<div class="contenedor">
<div class="container-register">
  <form [formGroup]="userForm">
    <div class="registerForm">
      <div class="registerUser">
        <span class="titleUser">Registrarse</span>
      </div>
      <div class="userDividerBar">
        <div class="barDivider"></div>
      </div>
      <div class="orderFormUser">
        <span class="labelUser">Nombre de usuario</span>
        <pichincha-input
          type="text"
          [fullWidth]="true"
          placeholder="Ej. makoto"
          appInputAccessor
          formControlName="name"
        ></pichincha-input>
        <span
          class="errorMessage"
          *ngIf="
            userForm.get('name')?.hasError('required') &&
            (userForm.get('name')?.dirty ||
              userForm.get('name')?.touched)
          "
          >Nombre de usuario es requerido.</span
        >
        <span
          class="errorMessage"
          *ngIf="userForm.get('name')?.hasError('existUser')"
          >Usuario Existente.</span
        >
      </div>
      <div class="orderFormUser">
        <span class="labelUser">Correo electronico</span>
        <pichincha-input
        [fullWidth]="true"
          type="text"
          placeholder="Ej.name@example.com"
          appInputAccessor
          formControlName="email"
        ></pichincha-input>
        <span
          class="errorMessage"
          *ngIf="
            userForm.get('email')?.errors &&
            (userForm.get('email')?.dirty || userForm.get('email')?.touched)
          "
          >Correo es requerido.</span
        >
      </div>
      <div class="orderFormUser">
        <span class="labelUser">Contraseña</span>
        <pichincha-input
        [fullWidth]="true"
          placeholder="******"
          appInputAccessor
          type="password"
          formControlName="password"
        ></pichincha-input>
        <span
          class="errorMessage"
          *ngIf="
            userForm.get('password')?.hasError('required') &&
            (userForm.get('password')?.dirty || userForm.get('password')?.touched)
          "
          >Contraseña es requerida.</span
        >
        <span
          class="errorMessage"
          *ngIf="
            userForm.get('password')?.hasError('password') &&
            (userForm.dirty ||
              userForm.touched)
          "
          ></span
        >
        <span
          class="errorMessage"
          *ngIf="
            userForm.get('password')?.hasError('pattern')
          "
          >Contraseña no es valida.</span
        >
      </div>
      <div class="orderFormUser">
        <span class="labelUser">Confirmar contraseña</span>
        <pichincha-input
        [fullWidth]="true"
          type="password"
          placeholder="******"
          appInputAccessor
          formControlName="passwordTwo"
        ></pichincha-input>
        <span
          class="errorMessage"
          *ngIf="
          userForm.hasError('notSame')
          "
          >Contraseña no coincide.</span
        >
      </div>
      <div class="registerUser">
        <span class="titleUser">Categorias</span>
      </div>
      <div class="orderCategory" *ngFor="let cate of listCategories">
        <label class="labelUser">
          <input
            class="primaryInputForm"
            type="checkbox"
            [id]="cate.id"
            [checked]="selection.isSelected(cate)"
            [value]="cate.description"
            (change)="selection.toggle(cate)"
            (change)="selection.isSelected(onChecked())"
          />
          {{ cate.description }}
        </label>
      </div>
      <div class="categoryLibrary">
        <span *ngIf="checkMessage">Debe seleccionar al menos 3 categorias.</span>
      </div>
    </div>
    <footer style="background: whitesmoke">
      <div class="barDivider"></div>
      <div class="footerRegister">
        <div class="labelLogin">
          <a class="linkLogin" routerLinkActive="active" routerLink="/login"
            >Iniciar sesión</a
          >
        </div>
        <div>
          <pichincha-button size="large" id="idButton" (click)="onCreateUser()" color="primary">
            Registrar
          </pichincha-button>
        </div>
      </div>
    </footer>
  </form>
</div>
</div>
