<div class="container-register">
  <div class="registerForm">
    <div class="registerUser">
      <span class="titleUser">Registrarse</span>
    </div>
    <div class="userDividerBar">
      <div class="barDivider"></div>
    </div>
    <div class="orderFormUser">
      <span class="labelUser">Nombre de usuario</span>
      <pichincha-input placeholder="Ej. makoto"></pichincha-input>
    </div>
    <div class="orderFormUser">
      <span class="labelUser">Correo electronico</span>
      <pichincha-input placeholder="Ej.name@example.com"></pichincha-input>
    </div>
    <div class="orderFormUser">
      <span class="labelUser">Contraseña</span>
      <pichincha-input placeholder="******"></pichincha-input>
    </div>
    <div class="orderFormUser">
      <span class="labelUser">Confirmar contraseña</span>
      <pichincha-input placeholder="*******"></pichincha-input>
    </div>
    <div class="registerUser">
      <span class="titleUser">Categorias</span>
    </div>
    <div class="orderCategory">
      <label class="labelUser">
        <input class="primaryInputForm" type="checkbox" />
        Anime
      </label>
    </div>
    <div class="orderCategory">
      <label class="labelUser">
        <input class="primaryInputForm" type="checkbox" />
        Ciencia Ficcion
      </label>
    </div>
    <div class="orderCategory">
      <label class="labelUser">
        <input class="primaryInputForm" type="checkbox" />
        Novelas
      </label>
    </div>
    <div class="orderCategory">
      <label class="labelUser">
        <input class="primaryInputForm" type="checkbox" />
        Drama
      </label>
    </div>
    <div class="orderCategory">
      <label class="labelUser">
        <input class="primaryInputForm" type="checkbox" />
        Inteligencia Artificial
      </label>
    </div>
    <div class="categoryLibrary">
      <span 
        >Debe seleccionar al menos 3 categorias.</span
      >
    </div>
  </div>
  <footer style="background: whitesmoke">
    <div class="barDivider"></div>
    <div class="footerRegister">
      <div class="labelLogin">
        <a class="linkLogin" routerLinkActive="active" routerLink="/login"
          >Iniciar sesión</a
        >
      </div>
      <div>
        <pichincha-button size="large" id="idButton" color="primary">
          Registrar
        </pichincha-button>
      </div>
    </div>
  </footer>
</div>
