.container-Login{
    margin-right: 550px;
    margin-left: 550px;
    margin-top: 8.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.registerForm{
    padding: 1rem;
}

.contenedor{
    margin: 1rem;
}

.primaryInputForm{
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 14px;
}

.orderFormUser{
    display: flex;
    flex-direction: column;
    padding-bottom: 0.9rem;
}

.labelUser{
    font-size: 14px;
}

.orderCategory{
    padding-bottom: 0.5rem
}

.registerUser{
    font-size: 19px;
    font-weight: bold;
}

.registerUser{
    padding-bottom: 0.8rem;
}

.titleUser{
    font-size: 20px;
    font-weight: bold
}

.barDivider{
    border: 0.7px solid #ced4da;
    border-radius: 0.25rem;
}

.userDividerBar{
    padding-bottom: 1rem;
}

.categoryLibrary{
    padding-top: 0.4rem;
    color: indianred;
    font-size: 14px;
}

.errorMessage{
    color: indianred;
    font-size: 12px;
}

.footerRegister{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.labelLogin{
    display: flex;
    align-items: center;
    font-size: 15px;
}

.linkLogin{
    cursor: pointer;
    color: dodgerblue;
}